<%- include('partials/header', { header }) %>

<div class="cp-container custom-shadow-primary">

        <h3 class="text-primary-custom mb-4">Change Password</h3>

        <!-- MESSAGE BOX -->
        <div id="MessageBox" class="cp-message-box" style="display:none;"></div>

        <form id="changePasswordForm">

            <div class="cp-form-group">
                <label>Current Password</label>
                <input type="password" name="currentPassword" required>
            </div>

            <div class="cp-form-group">
                <label>New Password</label>
                <input type="password" name="newPassword" required>
            </div>

            <div class="cp-form-group">
                <label>Confirm New Password</label>
                <input type="password" name="confirmPassword" required>
            </div>

            <button type="submit" class="btn btn-primary-custom" id="Btn">
                Update Password
            </button>

        </form>

    </div>


<%- include("partials/footer", { footer }) %>